.searchBar {
    background-color : #dcf5ec;
    box-sizing       : border-box;
    display          : inline-block;
    padding          : 20px;
}

.searchBar div {
    box-sizing : border-box;
    display    : inline-block;
}

.searchBar > input {
    border                     : 1px solid white;
    border-right               : none;
    width                      : 600px;
    outline: none;
}


.searchIcon {
    width                     : 35px;
    height                    : 35px;
    padding                   : 5px;
    border-top-left-radius    : 7px;
    border-bottom-left-radius : 7px;
    background-color          : white;

}

.searchIcon > img {
    width  : 100%;
    height : 100%;
}

.grab-btn {
    margin-left      : 20px;
    border-radius    : 5px;
    padding          : 0px 25px 0px 25px;
    background-color : #5cd888;
    color            : #feffff;
    border: 1px solid #5cd888;

}
.grab-btn:focus {
    outline: none;
}

.search-google-dropdown-button {
    background-color : #f0faf8;
    width: 120px;
    border: 4px solid white;
    border-bottom-right-radius : 7px;
    border-top-right-radius    : 7px;
}
.search-google-dropdown-button span:last-of-type{
    padding-right: 25px;
}